body{
  background:
    repeating-linear-gradient(
      45deg,
      yellow 0px,
      yellow 40px,
      black 40px,
      black 80px
    );
  min-height: 100vh;
}

.board {
  background-color: #dddddd;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 15%;
  margin-right: 15%;
  border: 10px solid red;
  border-radius: 2%;
}
