html {
  background-color: #ffffaa;
}

body {
  width: 600px;
  margin: 0 auto; /* first value is top and bottom, second value is left and right */
  background-color: #ffff77;
  padding: 0 20px 40px 40px;
  border: 5px solid black;
}

h1 {
  font-family: "Righteous", cursive;
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #000000;
  text-shadow: 3px 3px 1px gray;
}

h2, h3, h4 {
  font-family: "Righteous", cursive;
}

p, li, button {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;   /* apply block-level behaviour to the image to allow us to set a margin */
  margin: 0 auto;
}