root {
  --bg-colour: #ffffaa;
  --body-colour: #ffff77;
  --text-colour: #000000;
}

html {
  background-color: #ffffaa;
  background-color: var(--bg-colour, #ffffaa);
}

.blog {
  width: 44%;
  margin: 0 auto; /* first value is top and bottom, second value is left and right */
  background-color: #ffff77;
  background-color: var(--body-colour, #ffff77);
  padding: 0 20px 40px 40px;
  border: 5px solid #000000;
}

.link-menu {
  position: absolute;
  top: 10px;
  right: 2%;
  width: 20%;
  background-color: #ffff77;
  background-color: var(--body-colour, #ffff77);
  border: 5px solid #000000;
  text-align: center;
}

.link-heading {
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.link-item {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.link-item:hover {
  background-color: #ffff00;
  border: 2px solid rgba(0, 0, 0, 0.6);
}

h1 {
  font-family: "Righteous", cursive;
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #000000;
  color: var(--text-colour, #000000);
  text-shadow: 3px 3px 1px gray;
}

h2, h3, h4 {
  font-family: "Righteous", cursive;
  color: #000000;
  color: var(--text-colour, #000000);
}

p, li {
  color: #000000;
  color: var(--text-colour, #000000);
}

p, li, button {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1px;
}

.b-logo {
  display: block;   /* apply block-level behaviour to the image to allow us to set a margin */
  margin: 0 auto;
  border: 5px solid #000000;
  border-radius: 50%;
  width: 20%;
}